.githubbuttondiv{
    background-color: black;
    color: white;
    height: 18px;
    width: 250px;
    // padding-bottom: 7px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    font-family: monospace;
    font-size: 1.3rem;
}

  
.img-git{
    height: 25px;
    width: 20px;
    padding-bottom: 2px
}
