a:link{
    color: dodgerblue;
    text-decoration: none;
    font-size: 1.2rem;
}
a:link:visited{
    color: dodgerblue;
    text-decoration: none;
    font-size: 1.2rem;

}
a{
    color: dodgerblue;
    text-decoration: none;
    font-size: 1.2rem;

}